* {
  margin: 0px;
  padding: 0px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
nav {
  width: 100%;
  background-color: indigo;
}
ul {
  width: 85%;

  margin: 0 auto;
  padding: 8px;
}
ul li {
  list-style: none;
  display: inline-block;
  padding: -35px;
}
ul li a {
  color: white;
  text-decoration: none;
  font-size: 17px;
}
.ul li a .bi {
  color: white;
}
.color {
  font-size: 40px;
  position: absolute;
  top: 6%;
  left: 4%;
}
.header ul {
  min-height: 25px;
  margin-right: -20px;
  font-size: 13px;
}
.header ul li a {
  text-decoration: none;
  color: black;
  padding: 2px 25px;
  font-size: 15px;
}
.header ul li a .bi {
  color: black;
}
.sellS {
  background-color: indigo;
  width: 200px;
  height: 35px;
  color: white;
  position: absolute;
  left: 83%;
  top: 7.5%;
  text-align: center;
}
.boat {
  color: white;
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.search {
  color: white;
  position: absolute;
  left: 25%;
  top: 30%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.srch {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 700px;
  height: 1px;
  background-color: white;
  border: none;
  margin-top: 20px;
  font-size: 12px;
  padding: 25px;
}
.signs{
  background-color: indigo;
  width: 47px;
  height: 50px;
  color: white;
  position: absolute;
  text-align: center;
  left: 71%;
  top: 32.7%;
}
.signs .bi {
  color: white;
}
.cities {position: absolute;
  top: 48.5%;
  left: 40%;
  color: black;
  font-size: 25PX;
}
.cities::after {
  content: "";
  height: 2px;
  width: 35%;
  background-color:silver;
  position: absolute;
  left: 35%;
  top: 105%;
}
.lining1{color: black;
  position: absolute;
  left: 47.5%;
  top:52.5%;
}
.cities1 {position: absolute;
  top:56%;
  left: 29%;
  color: darkgray;
}
.name{
  position: absolute;
  top:58%;
  left: 47%;
  color: darkgray; 
}

.title1 {
  color:white;
  position: absolute;
  top: 69%;
  left: 32%;
  width: 20%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.state1 {
  color:white;
  position: absolute;
  top: 72%;
  left: 33%;
  width: 20%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.title2 {
  color: white;
  position: absolute;
  top: 69%;
  left: 46%;
  width: 20%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.state2 {
  color: white;
  position: absolute;
  top: 72%;
  left: 47%;
  width: 20%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.title3 {
  color: white;
  position: absolute;
  top: 69%;
  left: 61%;
  width: 20%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.state3 {
  color: white;
  position: absolute;
  top: 72%;
  left: 62%;
  width: 20%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.title4 {
  color: white;
  position: absolute;
  top: 88.5%;
  left: 32%;
  width: 20%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.state4 {
  color: white;
  position: absolute;
  top: 91.5%;
  left: 32.5%;
  width: 20%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.title5 {
  color: white;
  position: absolute;
  top: 88.5%;
  left: 46%;
  width: 20%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.state5 {
  color: white;
  position: absolute;
  top: 91.5%;
  left: 48%;
  width: 20%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.title6 {
  color: white;
  position: absolute;
  top: 88.5%;
  left: 62%;
width: 20%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.state6 {
  color: white;
  position: absolute;
  top: 91.5%;
  left: 62%;
width: 20%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.empty_div1 {
  width: 100%;
  height: 170px;
  background-color: white;
}
.city {font-size: 27px;
  position: absolute;
  top: 118%;
  left: 42%;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.city::after {
  content: "";
  height: 2px;
  width: 40%;
  background-color: gray;
  position: absolute;
  left: 32%;
  top: 110%;
}
.lining2{color: black;
  position: absolute;
  left: 49.4%;
  top:122.7%;
}
.city1 {
  text-align: center;
  color: darkgray;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
table {
  background-color: mintcream;
  width: 100%;
}
.your_boat {
  background-color:whitesmoke;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.your_boat1 {
  background-color: whitesmoke;
  color: purple;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.your_boat2 {
  background-color: whitesmoke;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.shipes {
  background-color: whitesmoke;
}
.my_boat {
  background-color: mintcream;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.my_boat1 {
  background-color: mintcream;
  color: purple;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.my_boat2 {
  background-color: mintcream;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.shipes1 {
  background-color: mintcream;
}
.ads {font-size: 27px;
  position: absolute;
  top: 175%;
  left: 42%;
    color: black;
    background-color: white;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .ads::after {
      content: "";
      height: 2px;
      width: 40%;
      background-color: gray;
      position: absolute;
      left: 36%;
      top: 105%;
    }
    .lining3{
      position: absolute;
      left: 49%;
      top:180%;
    }
  .adss{
    text-align: center;
    color: darkgray;
    background-color: white;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
.us_ship {
  background-color: mintcream;
}
.card {
  width: 19.6%;
  background-color: mintcream;
  color: darkgray;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.card-header { 
  background-color: mintcream;
  border-color: gainsboro;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.card-body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.sign {
  background-color: indigo;
  width: 35px;
  height: 35px;
  color: white;
  position: absolute;
  left: -95%;
  top: -20%;
  border-radius: 50px;
}
.sign .bi {
  color: white;
}
.sign1 {
  background-color: indigo;
  width: 35px;
  height: 35px;
  color: white;
  position: absolute;
  left: -43%;
  top: -20%;
  padding-left: 10px;
  border-radius: 50px;
}
.sign1 .bi {
  color: white;
}
.sign2 {
  background-color: indigo;
  width: 35px;
  height: 35px;
  color: white;
  position: absolute;
  left: -95%;
  top: -20%;
  padding-left: 10px;
  border-radius: 50px;
}
.sign2 .bi {
  color: white;
}
.sell {
  background-color: indigo;
  width: 150px;
  height: 30px;
  color: white;
  position: absolute;
  left: 28.9%;
  top: 208.6%;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.sell .h4 {
  color: white;
}
.sell1 {
  background-color: indigo;
  width: 205px;
  height: 30px;
  color: white;
  position: absolute;
  left: 46.4%;
  top: 208.6%;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.sell1 .h4 {
  color: white;
}
.sell2 {
  background-color: indigo;
  width: 150px;
  height: 30px;
  color: white;
  position: absolute;
  left: 71.1%;
  top: 208.6%;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.sell2 .h4 {
  color: white;
}

.empty_div2 {
  width: 100%;
  height: 170px;
  background-color:white;
}
.truck {
  color: white;
  background-color: transparent;
  left: 20%;
  top: 275%;
  position: absolute;
  font-size: 45px;
}
.trucks {
  color: white;
  background-color: transparent;
  left: 19.6%;
  top: 284%;
  position: absolute;
}
.trucks1 {
  color: white;
  background-color: transparent;
  left: 18.7%;
  top: 288.5%;
  position: absolute;
}
.dealer {
  color: white;
  background-color: transparent;
  left: 40%;
  top: 275.5%;
  position: absolute;
  font-size: 35px;
}
.dealers {
  color: white;
  background-color: transparent;
  left: 39.7%;
  top: 284%;
  position: absolute;
}
.dealers1 {
  color: white;
  background-color: transparent;
  left: 37.8%;
  top: 288.5%;
  position: absolute;
}
.heart {
  background-color: transparent;
  color: white;
  position: absolute;
  left: 60%;
  top: 275.5%;
  font-size: 35px;
}
.hearts {
  color: white;
  background-color: transparent;
  left: 59.5%;
  top: 284%;
  position: absolute;
}
.hearts1 {
  color: white;
  background-color: transparent;
  left: 58.6%;
  top: 288.5%;
  position: absolute;
}
.globe {
  color: white;
  background-color: transparent;
  left: 80%;
  top: 275.5%;
  position: absolute;
  font-size: 35px;
}
.globes {
  color: white;
  background-color: transparent;
  left: 80.4%;
  top: 284%;
  position: absolute;
}
.globes1 {
  color: white;
  background-color: transparent;
  left: 78.5%;
  top: 288.5%;
  position: absolute;
}
.blog {font-size: 27px;
  position: absolute;
  top: 302%;
  left: 42%;
    color: black;
    background-color: white;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .blog::after {
    content: "";
    height: 2px;
    width: 40%;
    background-color: gray;
    position: absolute;
    left: 36%;
    top: 99%;
  }
  .lining4{
    color: black;
    position: absolute;
    left: 47.5%;
    top:306.4%;
      }
  .blogs {position: absolute;
    top:310%;
    left: 29%;
    text-align: center;
    color: darkgray; 
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .name1{
      position: absolute;
      top:312.5%;
      left: 47%;
      color:gray;
    }
  .race {
    background-color: mintcream;
  }
  .write1{
  width: 19.7%;
  height: 9%;
  left: 19.1%;
  top: 336.6%;
  position: absolute;
  background-color: mintcream;
  border: 1px solid green;
  margin-bottom: 50px;
  transition: 0.3s;
  border-color: gainsboro;
  color: darkgray;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .writes1{
    top: 40%;
    position: absolute;
    color: black;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .man1{
    color: black;
    background-color: transparent;
    left: 105%;
  bottom: 110%;
    position: absolute;
    font-size: 35px;
  }
  .write2{
    width: 19.66%;
    height: 9%;
    left: 40.2%;
    top: 336.6%;
    position: absolute;
    background-color: mintcream;
    border: 1px solid green;
    margin-bottom: 50px;
    transition: 0.3s;
    border-color: gainsboro;
    color: darkgray;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
    .writes2{
      top: 40%;
      position: absolute;
      color: black;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
    .man2 {
      color: black;
      left: 90%;
    bottom: 110%;
      position: absolute;
      font-size: 35px;
    }
    .write3{
      width: 19.66%;
      height: 9%;
      left: 61.3%;
      top: 336.6%;
      position: absolute;
      background-color: mintcream;
      border: 1px solid green;
      margin-bottom: 50px;
      transition: 0.3s;
      border-color: gainsboro;
      color: darkgray;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }
      .writes3{ top: 40%;
        position: absolute;
        color: black;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }
      .man3 {
        color: black;
        background-color: transparent;
        left: 90%;
        bottom: 110%;
        position: absolute;
        font-size: 35px;
      }
    .nap{
      position: absolute;
      top: 316%;
      left: 47%;
      color: gray; 
    }
    .back{height: 230px;
      background-color:whitesmoke;
      width: 100%;
    }
    .choose{
      position: absolute;
      left: 5%;
      top: 358%;
    }
    .walkers{
       position: absolute;
       left: 30%;
       top: 348%;
    }
    .hipster{
      position: absolute;
      left: 45%;
      top: 352%;
    }
    .henderson{
      position: absolute;
      left: 60%;
      top: 353%;
    }
    .jeffer{
      position: absolute;
      left: 75%;
      top: 352%;
    }
    .spot{
      height: 300px;
      background-color: white;
      width: 100%;
    }
    .bottom{
      color: indigo;
      position: absolute;
      left: 5%;
      top: 384%;
    }
    .bottom1{
      position: absolute;
      left: 5%;
      top: 391%;
      color: black;
    }
    .follow{
      color: black;
      position: absolute;
      left: 30%;
      top: 385%;
    }
    .temp1{
      list-style: none;
      padding-top: 20px;
      display: inline-flex;
      position: absolute;
      top: 388%;
      left: 31%;
      transform: translate(-50%);
      color: darkblue; 
  }
  .temp1 .bi{
      font-size: 27px;
      line-height: 15px;
      text-align: left;
      text-decoration: none;
      margin: 0px 8px;
      background: white;
      width: 24px;
      height: 25px;
      border-radius: 15px;
      border: 0px solid white;
  }
  .temp2{
    list-style: none;
    padding-top: 5px;
    display: inline-flex;
    position: absolute;
    top: 395%;
    left: 31%;
    transform: translate(-50%);
    color: white; 
}
.temp2 .bi{
  font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    margin: 0px 8px;
    background:deepskyblue;
    width: 26px;
    height: 26px;
    border-radius: 15px;
    border: 5px solid deepskyblue;
}.temp3{
  list-style: none;
  padding-top: 5px;
  display: inline-flex;
  position: absolute;
  top: 400%;
  left: 31%;
  transform: translate(-50%);
  color:#0077b5;
}
.temp3 .bi{
  font-size: 25px;
  line-height: 15px;
  text-align: left;
  text-decoration: none;
  margin: 0px 8px;
  background:white;
  width: 24px;
  height: 24px;
  border-radius: 20px;
  border: 0px solid white;
}
.temp4{
  list-style: none;
  padding-top: 5px;
  display: inline-flex;
  position: absolute;
  top: 405%;
  left: 31%;
  transform: translate(-50%);
  color: white; 
}
.temp4 .bi{
  font-size: 12px;
  line-height: 15px;
  text-align: left;
  text-decoration: none;
  margin: 0px 8px;
  background: red;
  width: 24px;
  height: 24px;
  border-radius: 15px;
  border: 5px solid red;
}
.sip1{
  position:absolute;
  top: 391%;
  left: 33%;
  color: darkgray;
} 
.sip2{
  position: absolute;
  top: 396%;
  left: 33%;
  color: darkgray;
}  
.sip3{
  position: absolute;
  top: 401%;
  left: 33%;
  color: darkgray;
}
.sip4{
  position:absolute;
  top: 406%;
  left: 33%;
  color: darkgray;
}
.app{
  position: absolute;
  left: 5%;
  top: 401%;
}
.quick{
  color: black;
  position: absolute;
  left: 45%;
  top: 385%;
}
.links{
  position: absolute;
  left: 45%;
  top: 391%;
  color: darkgray;
}
.sing{
  color: black;
  position: absolute;
  left: 60%;
  top: 385%;
}
.send{
  position: absolute;
  left: 60%;
  top: 391%;
  color: darkgray;
}
.sending {
  color: white;
  position: absolute;
  left: 60%;
  top: 396%;
}
.snd{
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 350px;
  height: 20px;
  background-color:whitesmoke;
  border: none;
  margin-top: 20px;
  font-size: 15px;
  padding: 20px;
}
button{
  position: absolute;
  top: 33.8%;
  left: 90%;
  width: 25%;
  border: none;
  padding: 8.5px;
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  text-align: center;
  background-color: indigo;
}
.copy{width: 150%;
  position: absolute;
  left: 1%;
  top: 120%;
  color: darkgray;
}
.scroll{
color: white;
background-color: indigo;
width: 10%;
height: 50%;
text-align: center;
position: absolute;
left: 150%;
top: 200%;
}

