* {
  margin: 0px;
  padding: 0px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
html,body{
  overflow-x: hidden;
  overflow-y: auto;
}
.bg-nav {
  background-color: indigo;
}
ul li {
  list-style: none;
  display: inline-block;
  padding: -35px;
}
ul li a {
  color: white;
  text-decoration: none;
  font-size: 17px;
}
.ul li a .bi {
  color: white;
}
.txt-lg {
  font-size: 40px;
}
.header ul {
  min-height: 25px;
  margin-right: -20px;
  font-size: 13px;
}
.header ul li a {
  text-decoration: none;
  color: black;
  padding: 2px 25px;
  font-size: 15px;
}
.header ul li a .bi {
  color: black;
}
.sellS {
  background-color: indigo;
  color: white;
  text-align: center;
}
.boat {
  color: white;
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.search {
  color: white;
  position: absolute;
  left: 25%;
  top: 30%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.srch {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 700px;
  height: 1px;
  background-color: white;
  border: none;
  margin-top: 20px;
  font-size: 12px;
  padding: 25px;
}
.signs{
  background-color: indigo;
  width: 47px;
  height: 50px;
  color: white;
  position: absolute;
  text-align: center;
  left: 71%;
  top: 32.7%;
}
.signs .bi {
  color: white;
}
.cities {
  color: black;
  font-size: 25PX;
}
.lining1{color: black;
}
.cities1 {
  color: darkgray;
  text-align: center;
}
.name{
  color: darkgray; 
}

.title1 {
  color:white;
  position: absolute;
  top: 78%;
  left: 32%;
  width: 20%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.state1 {
  color:white;
  position: absolute;
  top: 81%;
  left: 33%;
  width: 20%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.title2 {
  color: white;
  position: absolute;
  top: 78%;
  left: 46%;
  width: 20%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.state2 {
  color: white;
  position: absolute;
  top: 81%;
  left: 47%;
  width: 20%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.title3 {
  color: white;
  position: absolute;
  top: 78%;
  left: 61%;
  width: 20%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.state3 {
  color: white;
  position: absolute;
  top: 81%;
  left: 62%;
  width: 20%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.title4 {
  color: white;
  position: absolute;
  top: 98%;
  left: 32%;
  width: 20%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.state4 {
  color: white;
  position: absolute;
  top: 101%;
  left: 32.5%;
  width: 20%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.title5 {
  color: white;
  position: absolute;
  top: 98%;
  left: 46%;
  width: 20%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.state5 {
  color: white;
  position: absolute;
  top: 101%;
  left: 48%;
  width: 20%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.title6 {
  color: white;
  position: absolute;
  top: 98%;
  left: 62%;
width: 20%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.state6 {
  color: white;
  position: absolute;
  top: 101%;
  left: 62%;
width: 20%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.empty_div1 {
  width: 100%;
  height: 170px;
  background-color: white;
}
.city {font-size: 27px;
  position: absolute;
  top: 118%;
  left: 42%;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.city1 {
  text-align: center;
  color: darkgray;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
table {
  background-color: mintcream;
  width: 100%;
}
.your_boat {
  background-color:whitesmoke;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.your_boat1 {
  background-color: whitesmoke;
  color: purple;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.your_boat2 {
  background-color: whitesmoke;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.shipes {
  background-color: whitesmoke;
}
.my_boat {
  background-color: mintcream;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.my_boat1 {
  background-color: mintcream;
  color: purple;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.my_boat2 {
  background-color: mintcream;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.shipes1 {
  background-color: mintcream;
}
.empty_div2 {
  width: 100%;
  height: 150px;
  background-color:white;
}
.play{
    font-size: 20px;
    color: white;
    position: absolute;
    left: 14%;
    top: 217%;
}
.play .bi{
  background: indigo;
  border-radius: 25px;
  border: 5px solid indigo;
}
.back{
    color: white;
    position: absolute;
    left: 27.5%;
    top: 217.5%;
    background-color: indigo;
    width: 140px;
    height: 30px;
    text-align: center;
}
.play1{
  font-size: 20px;
  color: white;
  position: absolute;
  left: 39%;
  top: 217%;
}
.play1 .bi{
background: indigo;
border-radius: 25px;
border: 5px solid indigo;
}
.back1{
  color: white;
  position: absolute;
  left: 49.8%;
  top: 217.5%;
  background-color: indigo;
  width: 180px;
  height: 30px;
  text-align: center;
}
.play2{
  font-size: 20px;
  color: white;
  position: absolute;
  left: 64%;
  top: 217%;
}
.play2 .bi{
background: indigo;
border-radius: 25px;
border: 5px solid indigo;
}
.back2{
  color: white;
  position: absolute;
  left: 79.5%;
  top: 217.5%;
  background-color: indigo;
  width: 110px;
  height: 30px;
  text-align: center;
}
.truck {
  color: white;
  background-color: transparent;
  left: 20%;
  top: 275%;
  position: absolute;
  font-size: 45px;
}
.trucks {
  color: white;
  background-color: transparent;
  left: 19%;
  top: 284%;
  position: absolute;
}
.trucks1 {font-size: 20px;
  color: white;
  background-color: transparent;
  left: 18%;
  top: 288.5%;
  position: absolute;
}
.dealer {
  color: white;
  background-color: transparent;
  left: 40%;
  top: 275.8%;
  position: absolute;
  font-size: 35px;
}
.dealers {
  color: white;
  background-color: transparent;
  left: 39.7%;
  top: 284%;
  position: absolute;
}
.dealers1 {font-size: 20px;
  color: white;
  background-color: transparent;
  left: 37.5%;
  top: 288.5%;
  position: absolute;
}
.heart {
  background-color: transparent;
  color: white;
  position: absolute;
  left: 60%;
  top: 275.8%;
  font-size: 35px;
}
.hearts {
  color: white;
  background-color: transparent;
  left: 59.5%;
  top: 284%;
  position: absolute;
}
.hearts1 {font-size: 20px;
  color: white;
  background-color: transparent;
  left: 58%;
  top: 288.5%;
  position: absolute;
}
.globe {
  color: white;
  background-color: transparent;
  left: 80%;
  top: 275.5%;
  position: absolute;
  font-size: 35px;
}
.globes {
  color: white;
  background-color: transparent;
  left: 80.2%;
  top: 284%;
  position: absolute;
}
.globes1 {font-size: 20px;
  color: white;
  background-color: transparent;
  left: 78%;
  top: 288.5%;
  position: absolute;
}
.blog {font-size: 27px;
  position: absolute;
  top: 305%;
  text-align: center;
    color: black;
    background-color: white;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  .blogs {position: absolute;
    top:315%;

    text-align: center;
    color: darkgray; 
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
.lining2{
  position: absolute;
  top:310%;
text-align: center;
}

  .race {
    background-color: mintcream;
  }
  .write1{
  width: 27.4%;
  height: 9%;
  left:7.85%;
  top: 350%;
  position: absolute;
  background-color: mintcream;
  border: 1px solid green;
  margin-bottom: 50px;
  transition: 0.3s;
  border-color: darkgrey;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .writes1{
   
    left: 9.2%;
    top: 353.5%;
    position: absolute;
    color: black;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .man1{
    color: black;
    background-color: transparent;
    font-size: 30px;
    position: absolute;
    left: 31%;
    top: 347%;
}
  .write2{
  width: 27.4%;
  height: 9%;
  left:36.3%;
  top: 350%;
  position: absolute;
  background-color: mintcream;
  border: 1px solid green;
  margin-bottom: 50px;
  transition: 0.3s;
  border-color: darkgrey;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .writes2{
   
    left: 37.5%;
    top: 353.5%;
    position: absolute;
    color: black;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .man2{
    color: black;
    background-color: transparent;
    position: absolute;
    left: 60%;
    top: 347%;
    font-size: 30px;
}
.write3{
  width: 27.4%;
  height: 9%;
  left:64.75%;
  top: 350%;
  position: absolute;
  background-color: mintcream;
  border: 1px solid green;
  margin-bottom: 50px;
  transition: 0.3s;
  border-color: darkgrey;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .writes3{
   
    left: 66%;
    top: 353.5%;
    position: absolute;
    color: black;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .man3{
    color: black;
    background-color: transparent;
    position: absolute;
    left: 87%;
    top: 347%;
    font-size: 30px;
  }
  .empty_div3 {
    width: 100%;
    height: 250px;
    background-color:whitesmoke;
  }
  .choose{
    left:7.85%;
    top: 372%;
    position: absolute;
  }
  .our{
    left:7.85%;
    top: 376%;
    position: absolute;
  }
  .image{
    left:35%;
    top: 363%;
    position: absolute;
  }
  .empty_div4 {
    width: 100%;
    height: 330px;
    background-color:white; }
.spot{
  font-size: 40px;
  position: absolute;
  left:7.85%;
  top: 400%;
}
.lorem{
  position: absolute;
  left:7.85%;
  top: 408%;
}
.app{
  position: absolute;
  left:7.5%;
  top: 419%;
}
.us{
  position: absolute;
  left:35%;
  top: 402%;
}
.icon1{
  list-style: none;
  padding-top: 15px;
  display: inline-flex;
  position: absolute;
  top: 406%;
  left: 36%;
  transform: translate(-50%);
  color: blue; 
}
.icon1 .bi{
  font-size:29px;
  line-height: 15px;
  text-align: left;
  text-decoration: none;
  margin: 0px 8px;
  background: white;
  width: 28.5px;
  height: 30x;
  border-radius: 15px;
  border: 0px solid white;
}
.facebook{
  position: absolute;
  top: 408.5%;
  left: 38%;
}
.icon2{
  list-style: none;
  padding-top: 15px;
  display: inline-flex;
  position: absolute;
  top: 412%;
  left: 36%;
  transform: translate(-50%);
  color: white; 
}
.icon2 .bi{
  font-size: 12px;
  line-height: 15px;
  text-align: left;
  text-decoration: none;
  margin: 0px 8px;
  background: darkblue;
  width: 29px;
  height: 29px;
  border-radius: 15px;
  border: 8px solid darkblue;
}
.twitter{
  position: absolute;
  top: 414.5%;
  left: 38%;
}
.icon3{
  list-style: none;
  padding-top: 15px;
  display: inline-flex;
  position: absolute;
  top: 418%;
  left: 36%;
  transform: translate(-50%);
  color: #0072b1; 
}
.icon3 .bi{
  font-size: 24px;
  line-height: 15px;
  text-align: left;
  text-decoration: none;
  margin: 0px 8px;
  background: white;
  width: 23px;
  height: 23px;
  border-radius: 10px;
  border: 0px solid white;
}
.linkedin{
  position: absolute;
  top: 420%;
  left: 38%;
}
.icon4{
  list-style: none;
  padding-top: 15px;
  display: inline-flex;
  position: absolute;
  top: 423.5%;
  left: 36%;
  transform: translate(-50%);
  color: white; 
}
.icon4 .bi{
  font-size: 10px;
  line-height: 15px;
  text-align: left;
  text-decoration: none;
  margin: 0px 8px;
  background: red;
  width: 27px;
  height: 27px;
  border-radius: 15px;
  border: 6px solid red;
}
.add{
  position: absolute;
  top: 425.9%;
  left: 36.2%;
  color:white;
}
.google{
  position: absolute;
  top: 425.5%;
  left: 38%;
}
.quick{
  position: absolute;
  left:50%;
  top: 402%;
}
.link1{
  position: absolute;
  left:50%;
  top: 409%;
}
.link2{
  position: absolute;
  left:50%;
  top: 415%;
}
.link3{
  position: absolute;
  left:50%;
  top: 420.5%;
}
.link4{
  position: absolute;
  left:50%;
  top: 426%;
}
.signup{
  position: absolute;
  left:65%;
  top: 402%;
}
.send{
  position: absolute;
  left:65%;
  top: 407%;
}
.sending{
  position: absolute;
  left:65%;
  top: 414%;
}
.snd{
  width: 320px;
  height: 40px;
  background-color: mintcream;
  border: 0px solid white;
}
button{
  position: absolute;
  left:74%;
  width: 23%;
  top: -0.5%;
  height: 40px;
  border: 0px solid indigo;
  font-size: 15px;
  color: white;
  background-color: indigo;
}
.scroll{
  position: absolute;
  left:100%;
  top: 110%;
  background-color: indigo;
  width:30px;
  height: 30px;
  color: aliceblue;
  text-align: center;
  
}